{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/header.html' %}
{% include 'partials/menu.html' %}
    <h2>Receita caipiroska de Morango</h2>
    <h3>Modo de preparo</h3>
    <ul>
        <li>Coloque 4 morangos em uma coqueteleira</li>
        <li>Adicione o açucar</li>
        <li>Amasse o morango</li>
        <li>Espremer o suco de 1/2 limão</li>
        <li>Adicione gelo e 100ml de Vodka </li>
        <li>Tampe a coqueteleia e shake</li>
        <li>Colocar em um copo e decorar com rodelas de limão e morango</li>
    </ul>

</body> 
</html>