{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/header.html' %}
{% include 'partials/menu.html' %}
    <h2>Receita caipirinha de limão</h2>
    <h3>Modo de preparo</h3>
    <ul>
        <li>Corte um limão em rodelas</li>
        <li>Em uma coqueteleira colocar adicione o açucar</li>
        <li>Amassar o limão o meio do limão levemente</li>
        <li>Adicionar gelo</li>
        <li>Adicionar 100ml de cachaça</li>
        <li>Com uma colher bailarina mexer bem</li>
        <li>Colocar em um copo e decorar com rodelas de limão e Hortelã</li>
    </ul>

    <p>
        <a href="{% url 'index' %}">Página inicial</a>
    </p>

{% include 'partials/footer.html' %}
{% endblock %}
