{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/header.html' %}
{% include 'partials/menu.html' %}
    <h2>Receita suco de limão</h2>
    <h3>Modo de preparo</h3>
    <ul>
        <li>Lave 2 limões</li>
        <li>Corte em 4 partes</li>
        <li>Bater por 20 segundos</li>
        <li>Coar</li>
        <li>Colocar gelo e açucar a gosto e bater novamente por 20 segundos</li>
    </ul>

    <p>
        <a href="{% url 'index' %}">Página inicial</a>
    </p>

{% include 'partials/footer.html' %}
{% endblock %}